.header{
    background: url("../img/destaque.jpeg") no-repeat;
    background-size: cover;
}

.conteudo-header{
  display: flex;   
  justify-content: center;
  padding-top: 2em; 
}

.menu-item{
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-conteudo{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.menu-item:hover{
    background-color: #48a3a6;
}

.home{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.title{
    text-align: center;
    font-size: 4em;
    color: white;
    margin-bottom: 0.2em;
    text-shadow: 4px 4px 10px black;
}

.subtitle{
    text-align: center;
    font-size: 2.8em;
    color:#64ff64;
    margin-bottom: 0.7em;
    text-shadow: 4px 4px 10px black;
}

.inscrever-se{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3.5em;
}

.a-inscrever-se{
    text-decoration: none;
    color: white;
    background-color: #48a3a6;
    padding: 1em;
    border-radius: 5px;
}


@media(min-width: 750px){
    .title{
        font-size:5.5em;
    }

    .subtitle{
        font-size: 4.5em;
    }
}

@media(max-width: 400px){
    .title{
        font-size: 2.6em;
    }
    
    .subtitle{
        font-size: 1.8em;
    }
}